* {
    padding: 0px;
    margin: 0px;
}

html {
    height: 100%;
}

body {
    overflow: auto;
    background-image: linear-gradient(to bottom left, rgb(247, 243, 246), #ad95cc);
    background-attachment:fixed;
}

h1 {color:rgba(27, 68, 204, 0.459);
    font-size: 3em;
}

p {color:rgba(0, 0, 0, 0.308);
    font-size: 0.9em
}

body .title {
    text-align: center;
    width: 40%;
    padding-top: 1em;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 2em;
    border-radius: 100px;
    background: rgba(0, 102, 255, 0.075);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    font-family: 'Inter', sans-serif;
    line-height: 2.5em;
    font-family: 'KaiTi', 'Microsoft Yahei', 'Courier New', Courier, monospace;
}

#waline {
    text-align: center;
    width: 75%;
    margin: auto;
}